@CHARSET "UTF-8";
.content {
  padding: 0px;
  width: auto;
}
.ui-content {
  padding: 0px;
}
.main_div {
  min-height: 1000px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0px;
}
#artist_detail_itunes_link_div {
  text-align: right;
  margin: 10px auto;
  max-width: 894px;
}
.track_name_list a {
  color: #333;
  font-weight: normal;
  font-size: normal;
}
.tracklist_play_btn {
  display: inline-block;
  width: 30px;
}
.tracklist_play_btn:hover {
  cursor: pointer;
}
#tracklist_detail_all_play_btn {
  margin-left: 0px;
}
#tracklist_detail_all_play_btn.now_playing {
  background: red;
}
.tracklist_disp_ready {
  color: #777;
}
.modaldiv_smartphone#tracklist_detail { /* overlay smartphone */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #fff;
  height: auto;
  width: 100%;
  z-index: 99999;
  display: block;
}
.modaldiv_pc#tracklist_detail { /* overlay pc */
  margin: 10px 5px 20px 5px;
  padding: 10px;
  background: #fff;
  height: auto;
  z-index: 99999;
  display: block;
}
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
  overflow: auto;
}
#tracklist_detail_section {
  padding: 3px 5px 3px 5px;
  margin-bottom: 7px;
}
#tracklist_detail_section .main_table {
  width: 100%; 
  margin: auto; 
  border-collapse: collapse;
}
#tracklist_detail_section .artist_area {
  width: 103px;
}
#tracklist_detail_section .tracklist_artist_image {
  width: 100px;
}
#tracklist_detail_section .tracklist_artist_name {
  font-size: 13px;
  color: #000;
  margin-top: 1px;
  margin-bottom: 6px;
  min-width: 100px;
  text-align: center;
}
#tracklist_detail_section .tracklist_artist_name a {
  color: #222;
 }
#tracklist_detail_section .review_area {
  vertical-align: middle;
  padding-left: 5px; 
}

#tracklist_description_play {
  font-size: x-small;
  text-align: left;
  line-height: 13px;
  color: #888;
  margin-left: 10px;
}
#tracklist_detail_section #tracklist_detail_ul_div {
  margin: 0px 0px 0px 0px;
  overflow: visible;
  position: relative;
  width: 100%;
  background: #444;
}
#tracklist_detail_section #tracklist_detail_ul {
  max-height: auto;
  margin: 0px;
}
#tracklist_detail_section #tracklist_detail_ul li {
  margin: 2px 1px 0px 1px;
  background: #333;
  color: #fff;
  border: 0px;
  border-bottom: 1px solid #aaa;
  text-shadow: 0px;
  font-weight: normal;
  padding: 5px 5px 5px 3px;
  text-shadow: 0px 0px 0px #000;
}
#tracklist_detail_section #all_play_btn_span {
  width: 90px;
  display: inline-block;
}
#tracklist_detail_section #tracklist_current_track_display {
  display: inline-block;
  width: 70px;
  position: relative;
  top: 2px;
}
#tracklist_detail_section #tracklist_time_display {
  position: relative;
  top: 2px;
}
#tracklist_detail_section #tracklist_detail_title {
  margin: 0px 15px 0px 1px;
  padding: 0px;
  font-weight: bold;
  font-size: 23px;
  color: #333;
}
#tracklist_detail_btn {
  display: inline-block;
}
#tracklist_detail_updbtn {
  font-size: small;
  margin-left: 0px;
  text-decoration: underline;
  position: relative;
  top: 0px;
}
#tracklist_detail_updbtn span {
  display: inline-block;
}
#tracklist_detail_delbtn {
  font-size: small;
  margin-left: 0px;
  text-decoration: underline;
  position: relative;
  top: 0px;
}
#tracklist_detail_delbtn span {
  display: inline-block;
}
#tracklist_detail_section #tracklist_detail_user_name {
  margin: 0px 15px 0px 0px;
  padding: 0px;
  font-weight: normal;
  font-size: large;
  text-align: right;
  font-style: italic;
}
.tracklist_list {
  display: block;
  text-align: right;
  margin-right: 5px;
  text-shadow: 0px;
  font-size: small;
  line-heigth: 18px;
}
#tracklist_detail_ul li a {
  text-shadow: 0px;
  font-weight: normal;
}
#tracklist_detail_section #tracklist_detail_created_at {
  margin: 2px 15px 2px 0px;
  padding: 0px;
  text-align: right;
  font-size: x-small;
  font-weight: normal;
  color: #555;
}
#tracklist_detail_section #tracklist_detail_updated_at {
  margin: 1px 15px 5px 0px;
  padding: 0px;
  text-align: right;
  font-size: x-small;
  font-weight: normal;
  color: #555;
}
#tracklist_create_link {
  margin: 10px auto 20px auto;
  text-align: center;
}