@CHARSET "UTF-8";
.content {
  padding: 0px;
  width: auto;
}
.main_div {
  min-height: 1000px;
  margin: 10px 0px 0px 30px;
  padding: 0px;
}
#artist_detail_table {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#artist_detail_table td {
  vertical-align: top;
}
#artist_detail_table #artist_detail_name {
  min-height: 250px;
  padding-top: 10px;
  padding-right: 10px;
}
#artist_detail_table #artist_detail_name .artist_name {
  font-family: "impact";
  font-size: 76px;
  line-height: 76px;
  font-weight: bold;
  color: #999;
  padding: 0px 30px 0px 0px;
  margin: 0px;
  max-width: 500px;
  display: block;
  word-break: keep-all;
}
#artist_detail_table #artist_detail_name .go_review {
  margin-top: 15px;
  display: inline-block;
}
#artist_detail_table #artist_detail_img{
  max-width: 250px;
}
#artist_detail_table #artist_detail_img img {
  max-width: 250px;
  max-height: 250px;
  margin-top: 5px;
}

/* アルバム一覧 */
#artist_detail_album_table {
  width: 90%;
  margin-bottom: 10px;
}
#artist_detail_album_table  #artist_detail_album_img {
  
}
#artist_detail_album_table  #artist_detail_album_img img {
  width: 64px;
  height: 64px;
  border: 1px solid #ccc;
}



/* レビューエリア */
#about_detail_review_div {
  max-width: 500px;
  min-height: 150px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 3px;
  border: 1px solid #bbb;
}
#about_detail_review_div .review_navi {
  background: #ddd;
  margin: 0px;
  padding: 2px 0px 2px 10px;
  font-size: 12px;
  color: #3B3533;
}
#about_detail_review_div .review_navi .review_navi_ans a {
  color: #fff;
  text-shadow: 1px 1px 1px #111;
}
#about_detail_review_div .review_navi .review_navi_child {
  text-shadow: 1px 1px 3px #fff;
}
#about_detail_review_div .review_navi .review_navi_ans {
  color: #fff;
  text-shadow: 1px 1px 1px #111;
}
#about_detail_review_div .review_title {
  width: 300px;
  margin: 10px 0px 0px 10px;
  padding: 0px;
}

#about_detail_review_div .review_list_table {
  border-collapse: collapse;
  line-height: 13px;
  font-size: 14px;
  margin: 0px 10px 5px 10px;
}
#about_detail_review_div .review_list_table .review_area_tr {
  border-bottom: 1px solid #ddd;
}
#about_detail_review_div .review_list_table .review_list_tr td{
  padding-top: 5px;
}
#about_detail_review_div .review_list_table .review_image {
  width: 60px;
  vertical-align: top;
}
#about_detail_review_div .review_list_table .review_image img {
  width: 50px;
  max-height: 50px;
}
#about_detail_review_div .review_list_table .review {
  width: 380px;
}

#about_detail_review_div .review_list_table .review .about {
  vertical-align: top;
  font-size: 11px;
  display: inline-block;
  border: 1px solid #555;
  line-height: 12px;
  padding: 1px 2px;
  width: 35px;
  text-align: center;
  border-radius: 1px;
  margin-right: 10px;
  background-color: #FFFFF6;
  text-shadow: 1px 1px 1px #ddd;
}
#about_detail_review_div .review_list_table .review .about_name {
  vertical-align: bottom;
  line-height: 14px;
}
#about_detail_review_div .review_list_table .review .star {
  line-height: 16px;
}
#about_detail_review_div .review_list_table .about_review {
  display: block;
  line-height: 17px;
  margin-top: 2px;
}
#about_detail_review_div .review_list_table .about_review a {
  text-decoration: none;
}
#about_detail_review_div .review_list_table .at {
  font-size: 10px;
  text-decoration: itaric;
  color: #555;
  line-height: 11px;
}
#about_detail_review_div .review_list_table .user {
  vertical-align: bottom;
  text-align: right;
  width: 45px;
}
#about_detail_review_div .review_list_table .user img {
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
}
#about_detail_review_div .review_list_table .user_name {
  font-style: italic;
  display: block;
  float: right;
  font-size: 13px;
  margin-bottom: 2px;
}

