@CHARSET "UTF-8";
.ui-field-contain > label ~ [class*="ui-"], .ui-field-contain .ui-controlgroup-controls {
  width: 100%;
}
.ui-field-contain, .ui-mobile fieldset.ui-field-contain {
  margin: 0px 0px;
}
.main_title {
  padding: 0px;
  margin: 10px 0px 5px 0px;
}

.main_form {

}
.ui-input-text {
  margin: 0px;
}
.open_option {
  text-align: center;
  cursor: pointer;
  color: #8D4167;
}

.span_required {
  color: #7E2E4C;
}
.caption {
  font-size: small;
  color: #2C4C43;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls {
  width: 100%;
}
.ui-controlgroup-controls {
  width: 100%;
}
.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-select {
  width: 33%;
  margin: 1px 1px 6px 0px;
}

.oauth{
  text-align: center;
}

.oauth_table {
  width: 100%;
}
.label_div {
  background: #ddd;
  padding: 0px 5px;
  margin-bottom: 2px;
  line-height: 30px;
}
.ui-mobile label {
  margin: 0px;
}
.field_checkbox {
  vertical-align: text-bottom;
  line-height: 20px;
  margin: 10px 0px 0px 10px;
}

.field_checkbox input {
  display: -block;
  float: left;
  margin-right: 10px;
  width: 20px;
}

.field_checkbox label {
  top: -2px;
  position: relative;
}

#form_auto_login_gol,
#form_auto_login_oauth {
  float: left;
  margin-right: 5px;
  margin-top: 12px;
}

#form_auto_login_gol + label,
#form_auto_login_oauth + label {
  position: relative;
  top: 9px;
}

.global_facebook_login_btn,
.global_google_login_btn,
.global_twitter_login_btn,
.global_yahoo_login_btn,
.global_submit_btn,
.global_submit_btn:hover {
  width: 100%;
  height: 60px;
  margin: 2px 0px;
}

#from_password_reissue_caption {
  color: #D75A54;
  font-size: large;
  font-weight: bold;
  padding: 25px 0px;
}
